html {
  font-size: 62.5%; //1rem = 10px

  @include respond(wide-screen) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 37.5%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
